<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calificanos</title>
    <!--BARRA-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="estilos.css">
    <!--BARRA-->
</head>

<body style="background-color: #F4E5FF;">

    <div class="container-fluid p-0">

        <!--BARRA 2-->
        <nav class="navbar navbar-expand-lg" style="background-color: #b040f1;" data-bs-theme="dark">
            <div class="container-fluid">

                <a class="navbar-brand" href="#">
                    <img src="IMG/mils.png" alt="Bootstrap" width="80" height="60">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link"
                                style="background: #c87ef3;margin-right: 70px;font-size: 17px; border-radius: 10px;"
                                aria-current="page" href="index.html">Inicio</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                                style="background: #c87ef3;margin-right: 70px;font-size: 17px; border-radius: 10px;"
                                href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Categorias </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="damas.html">Damas</a></li>
                                <li><a class="dropdown-item" href="caballeros.html">Caballeros</a></li>
                                <li><a class="dropdown-item" href="niños y niñas.html">Niños y Niñas</a></li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                                style="background: #c87ef3;margin-right: 70px;font-size: 17px; border-radius: 10px;"
                                href="lo mas vendido.html">Lo mas vendido</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link"
                                style="background: #c87ef3;margin-right: 70px;font-size: 17px; border-radius: 10px;"
                                href="promociones.html">Promociones</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link"
                                style="background: #c87ef3;margin-right: 70px;font-size: 17px; border-radius: 10px;"
                                href="conocenos.html">Conocenos</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link"
                                style="background: #c87ef3;margin-left: 70px; margin-right: 70px;font-size: 17px; border-radius: 10px;"
                                href="calificaciones.html">Calificaciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                                style="background: #c87ef3;margin-right: 70px;font-size: 17px; border-radius: 10px;"
                                href="historial.html">Historia</a>
                        </li>


                    </ul>
                    <!--BUSCAR-->
                    <form class="d-flex" role="search">
                        <input class="form-control me-4" type="search" placeholder="Buscar Información"
                            aria-label="Search" style="background-color: #c680ee;">
                        <button class="btn btn-outline-success" type="submit"
                            style="background-color: #c786fc;">Buscar</button>


                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a href="carrito.html"><img src="IMG/carrito-removebg-preview.png" alt="50"
                                        height="60"></a>
                            </li>
                            <!--despegable de usuario-->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" style="margin-right: 80px;" href="" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false"><img src="IMG/usuario.png" alt="60"
                                        height="50"></a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="perfilUsuario.html">Perfil</a></li>
                                    <li><a class="dropdown-item" href="carrito.html">Carrito</a
                                            style="background-color: #c786fc;"></li>
                                    <li><a class="dropdown-item" href="favoritosUsuarios.html">Mis Favoritos</a></li>
                                    <li><a class="dropdown-item" href="login.html">Cerrar Sesión</a
                                            style="background-color: #c786fc;"></li>



                                </ul>
                            </li>

                        </ul>

                    </form>
                    <!--BUSCAR-->
                </div>
            </div>
        </nav>
        <!--BARRA 2-->
        <!--relleno -->
        <div class="container-fluid m-0 p-3 mt-4 row " style="background-color: #F4E5FF;">
            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                <div class="card" style="min-height: 600px; background-color: #cb92f5;">
                    <img src="IMG/mils.png" class="card-img-top w-100 p-2" alt="..." style="height: 300px;">
                    <div class="card-body">
                        <h5 class="card-title" style="color: #a121eb;">
                            <h1 style="color: #a121eb;">Mils.com</h1>
                        </h5>
                        <div class="overflow-y-hidden" style="height: 190px;">
                            <p class="card-text">
                            <p>1 millón Me gusta
                            <h1>.</h1> 1,2 millones seguidores</p>

                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                <div class="card" style="min-height: 600px;">
                    <div class="card-body" style="background: #c680ee;">
                        <h5 class="card-title" style="color: #c786fc;">
                            <h1 style="color: #a121eb;">Conocenos</h1>
                        </h5>
                        <p>
                        <h5>Tiendas Mils.com (creado por miluska ccente rimachi)
                            ofrece una variedad de prendas de vestir y muchas cosas más.</h5>
                        </p>

                        <h5>
                            <p> Página: Prendas/servicio</p>

                            <p> Dirección: Jr. Chavez Gavilán- #S/N referencia por la divincri, Huanta, Peru</p>

                            <p>Teléfono: 987654321</p>

                            <p> Email: MILS.COM@Gmail.com</p>

                            <p> Horario: Abierto las 24/6</p>

                            <p> Calificaciones: ★★★★★ (1923 comentarios)</p>
                        </h5>


                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                <img src="https://tse1.mm.bing.net/th?id=OIP.3MRLTjyJWDgeKq40o53acwHaEh&pid=Api&P=0&h=180"
                    class="card-img-top w-100" alt="..." style="height: 600px;">


            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 p-2">

                <img src="https://i.pinimg.com/originals/c9/bb/36/c9bb363c96c593d40956b6e0c2b968bb.jpg"
                    class="card-img-top w-100" alt="..." style="height: 600px;">

            </div>
        </div>

    </div>
    <!--cuadros de relleno abajo-->
    </div>
</body>

<!--footer*/-->

<div id="footer">

    <!--Pie de Página Pt 1-->
    <div class="footer1">
        <div class="item-footer">
            <img src="IMG/ubicacion.png" alt="" width="50px">
            <p>
            <h2>Jr. Chavez Gavilán- #S/N referencia por la divincri, Huanta, Peru </h2>
            </p>
        </div>
        <br>
        <div class="item-footer">
            <img src="IMG/telefono-removebg-preview.png" alt="" width="50px">
            <p>
            <h2> 987654321 </h2>
            </p>
        </div>
        <br>
        <div class="item-footer">
            <img src="IMG/email.png" alt="" width="50px">
            <p>
            <h2> MILS.COM@Gmail.com </h2>
            </p>
        </div>

    </div>

    <!--Pie de Página Pt 2-->
    <div class="footer2">
        <br>
        <div class="item-footer">
            <img src="IMG/reloj.png" alt="" width="50px">
            <p>
            <h2>ABIERTO LAS 24/6 </h2>
            </p>
        </div>
        <br>
        <div class="item-footer">
            <img src="IMG/estrella.png" alt="" width="50px">
            <p>
            <h2>Calificación (1923 Comentarios)</h2>
            </p>
        </div>
    </div>

    <!--Pie de Página Pt 3-->
    <div class="footer3">
        <div class="item-footer2">
            <p>
            <h1>Medios de pago</h1>
            </p>
            <div class="pago">
                <img src="IMG/PayPal.png" alt="" width="100px" height="60px">
                <img src="IMG/yape.png" alt="" width="100px" height="60px">
                <img src="IMG/plin.png" alt="" width="100px" height="60px">
                <img src="IMG/visa.jpg" alt="" width="100px" height="60px">
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</html>



<!--style="background: #c87ef3;margin-left: 70px; margin-right: 70px;font-size: 17px; border-radius: 10px;"-->